
.nav-wrapper {
	padding-left: 6em;
	padding-right: 6em;
}

.header-title {
	font-size: 8vmin;
	font-family: 'Lato', sans-serif;
	letter-spacing: .11em;
	line-height: 1em;
	text-rendering: optimizeLegibility;
	text-align: center;
	padding: 2% 0;
	font-weight: 200;
	color: #33cc99;
	
}